<b><p style="text-align:center">Hand crafted by Rajat Upadhyay (Check out his <a target="_blank" href="https://www.quora.com/profile/Rajat-Upadhyay-6">Quora profile</a> )</p></b><br>
</div>
<div class="footer-padding"></div>
  <div class="footer">
  </div>
</div>
</body>
</html>
