<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/randomFact.css">
    <title>Be Like Bill</title>
  </head>
  <body>
    <h3>Be Like Bill</h3>
    <form class="" action="/belikebill" method="post">
      <input type="text" style="color:black" name="name" placeholder="Enter your name" value="">
      <button type="submit" class="btn btn-primary btn-outline" name="button">Go!</button>
    </form>
    <img src="" alt="">
  </body>
</html>
