<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>I M BORED</title>
    <link rel="stylesheet" href="/css/bored.css">
  </head>
  <body>
    <a href="/bored/uselessfacts" target="_blank">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Useless Fact!
    </a>
      <a href="/bored/bill" target="_blank">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Be Like Bill
      </a>
        <a href="/bored/geekjoke" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Geek Joke!
        </a>
  </body>
</html>
