
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>QuoraF - Signin</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  </head>

  <body class="text-center">

    <form class="form-signin" id="signup-form" action="/signup" method="post">
        <p class="logo">Q</p>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Full Name</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Full Name" autocomplete="off" name="name" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="text" id="inputPassword" class="form-control" placeholder="Unique Username" autocomplete="off" name="user" required>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="off" name="passcode" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
<p>OR</p>
    <a href='/login'><button class="btn btn-lg btn-primary">Login</button></a>

    <br><br>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 QuoraF</p>
  </body>
</html>
