<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=option%></title>
    <link rel="stylesheet" href="/css/randomFact.css">
  </head>
  <body>
    <h2 style="color:white"><%=fact%></h2>
    <br><br><br>
    <a href="/bored/<%=option%>">
<span></span>
<span></span>
<span></span>
<span></span>
      One More!</a>
  </body>
</html>
